* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: black;
  overflow: block;
  color: white;
}

.app {
  position: relative;
  width: 100%;
  height: 100%;
}

.score {
  position: absolute;
  display: flex;
  font-size: 2.5em;
  width: 100vw;
  margin: 2em auto;
  justify-content: center;
  z-index: 99;
}

.welcome {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -75%);
  z-index: 99;
  text-align: center;
}

.gameover {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}

.controls {
  position: absolute;
  width: 100vw;
  padding: 2em 2em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, .5fr));
  gap: 1em;
  z-index: 99;
  bottom: 0;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.controls button {
  width: 100%;
  max-width: 300px;
  border: none;
  padding: 1em;
}

.stats {
  padding: .5em;
}

@media only screen and (min-width: 1000px) {
  .controls button {
    padding: 2em;
  }
}
